body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2193b0;
    margin: 0;
    font-family: Arial;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    width: 320px; 
}

#display {
    width: 100%;
    height: 70px;
    font-size: 28px;
    text-align: right;
    margin-bottom: 15px;
    padding: 10px;

    box-sizing: border-box; 

    border: 3px solid black; 
    border-radius: 10px;
    background: #eee;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

button {
    height: 60px;
    font-size: 20px;
    cursor: pointer;

    border: none;
    border-radius: 10px;
    background: #ddd;
    transition: 0.2s;
}

button:hover {
    background: #bbb;
}

.zero {
    grid-column: span 2;
}

button:nth-child(1) { background: #ddd; }
button:nth-child(2) { background: #ddd; }  
button:nth-child(4) { background: #ddd; }   
button:nth-child(8),
button:nth-child(12),
button:nth-child(16) { background: #ddd; } 
button:nth-child(19) { background: #ddd; }  
